[tool.tartufo]
repo-path = '.'
regex = true
entropy = true

exclude-path-patterns = [
    {path-pattern = 'go\.mod$', reason = 'go.mod file'},
    {path-pattern = 'go\.sum$', reason = 'go.sum file'},
    {path-pattern = 'tartufo\.toml$', reason = 'Tartufo config file'},
]

exclude-entropy-patterns = [
    # {path-pattern = '', pattern = '', reason = ''},
]

exclude-signatures = [
    # {signature = '', reason = ''},
]
